<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="Gaurav" class="img-fluid" title="Gaurav">
                        </figure>
                    </div>
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis accusamus vel doloribus esse nesciunt? Iure ea velit quod, eius molestias praesentium numquam, impedit aut aperiam totam officiis, quidem quae inventore. Ipsum animi non, quos, deserunt ullam atque totam dignissimos id saepe labore, repellat quidem voluptatem velit excepturi magnam maxime autem? Nisi nemo quos a hic?
                    <!-- right side div -->

                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->

    {{>footer}}
</body>

</html>